.feet {
    border: darkkhaki;
    background-color: coral;
}
.head {
    border: darkkhaki;
    background-color: cornflowerblue;
}
.arm {
    border: darkkhaki;
    background-color: darkseagreen;
}